@model ClassBook.DTOs.SubjectDTOs.SubjectGetByIdDTO
@{
    ViewBag.Title = "Subject information";
}
<div>
    <label>Name: @Model.Name</label>
    <br>
    <label>Teacher: @Model.Teacher</label>
</div>

